.hero__button {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 33.88px;

  width: 161px;
  height: 24px;
  padding: 15px 47px;

  text-align: center;
  letter-spacing: 1.5px;

  color: #ffffff;
  background-color: #ff2d2d;
  display: inline-block;
}

.like__button {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 33.88px;

  padding: 15px 39px;

  text-align: center;
  letter-spacing: 1.5px;

  color: #ff2d2d;
  border: 2px solid #ff0000;
  background-color: rgba(0, 0, 0, 0);
}

.form__form {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 33.88px;

  width: 214px;
  height: 79px;

  text-align: center;
  letter-spacing: 0.32px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ff2d2d;
}

.contact__btn {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 33.88px;

  height: 72px;

  text-align: center;
  letter-spacing: 0.32px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ff3b3b;
}
