.section {
  max-width: 1110px;
  margin: 0 auto;

  &__title {
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;

    margin-bottom: 35px;

    text-align: center;
    letter-spacing: 0.38px;
    text-transform: uppercase;

    color: #000000;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 27.99px;

    width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 33px;
    margin-left: auto;

    text-align: center;
    letter-spacing: normal;

    color: #000000;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 27.99px;

    text-align: center;
    letter-spacing: normal;

    color: #000000;
  }

  &__divider {
    width: 132px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;

    background-color: #ff2d2d;
  }
}

.section--wide {
  max-width: 1440px;
}

.section--wide-wide {
  max-width: 100%;
}



