$arcolor: #cecece;
$fontcolor: #fdfbfb;
$fsb: 14px; //базовый размер шрифта темы, делается для того, чтобы изменить шрифт разом
$ff: Rubik, Helvetica, Arial, sans-serif;
$colorte: #507f9b; //тестовый цвет
$w: (70% + 5%); //ширина // Все математические операции оборачиваем в скобки!!! Одна единица измерения: пиксели, проценты и т.п.