@import "fonts";
@import "variables";
@import "mixins";
@import "buttons";
@import "section";
@import "head-intro";
@import "like";
@import "feature";
@import "meet";
@import "form";
@import "contact";
@import "footer";

.clearfix {
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: $ff;
  font-size: $fsb;

  // font-family: 'Open Sans', serif;

  // max-width: 1250px;
  margin: auto;
}



